@use "../settings" as *;


.navigation {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.3rem;
  width: 15%;
  
  ul {
    display: flex;
     
      a {
        text-decoration: none;
        padding: 0px 10px;
        color: $white;
        border-radius: 15px;
        width: 102px;
        text-align: center;
        margin-right: 5px;
        transition: 0.5s;

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $color-1;
        }
      }
      a.nav-active {
        background: $color-1;

        // &:hover {
        //   background: $black;
        // }
      }
    }
  }

